::selection {
	background-color: #E13300;
	color: white;
}

::moz-selection {
	background-color: #E13300;
	color: white;
}

::webkit-selection {
	background-color: #E13300;
	color: white;
}

body {
	background-color: #fff;
	/*margin: 40px;*/
	font: 18px/25px normal Helvetica, Arial, sans-serif;
	color: #4F5155;
}

a {
	color: #003399;
	background-color: transparent;
	font-weight: normal;
}

h1 {
	color: #444;
	background-color: transparent;
	border-bottom: 1px solid #D0D0D0;
	font-size: 19px;
	font-weight: normal;
	margin: 0 0 14px 0;
	padding: 14px 15px 10px 15px;
}

code {
	font-family: Consolas, Monaco, Courier New, Courier, monospace;
	font-size: 12px;
	background-color: #f9f9f9;
	border: 1px solid #D0D0D0;
	color: #002166;
	display: block;
	margin: 14px 0 14px 0;
	padding: 12px 10px 12px 10px;
}

#body {
	margin: 0 15px 0 15px;
}

p.footer {
	text-align: right;
	font-size: 11px;
	border-top: 1px solid #D0D0D0;
	line-height: 32px;
	padding: 0 10px 0 10px;
	margin: 20px 0 0 0;
}

#container {
	margin: 10px;
	border: 1px solid #D0D0D0;
	-webkit-box-shadow: 0 0 8px #D0D0D0;
}

#dialog-form,#dialog-modal {
	font-size: 62.5%;
}

label,input {
	display: block;
}

input.text {
	margin-bottom: 12px;
	/*width: 70%;*/
	padding: .4em;
}

fieldset {
	padding: 0;
	border: 0;
	margin-top: 25px;
}

.ui-dialog .ui-state-error {
	padding: .3em;
}

.validateTips {
	border: 1px solid transparent;
	padding: 0.3em;
}

.emotion-button,.continue-button {
	padding: 15px;
	line-height: 25pt;
	font-size: 20pt;
	text-decoration: none;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.slide {
	border: gray solid 1px;
	padding: 10px;
	width: 300px;
	margin-bottom: 10px;
}

.slide-pic {
	display: inline-block;
	width: 97px;
	height: 124px;
	overflow: hidden;
	text-align: center
}

.slide-info {
	display: inline-block;
	vertical-align: top;
}

.slide-label {
	display: inline-block;
	width: 70px;
	padding-bottom: 10px;
}

.slide-input {
	display: inline-block;
	margin-bottom: 10px;
	width: 100px;
	height: 22px;
}

#main {
	text-align: center;
	height: 100%;
	text-align: left;
	padding: 15px;
	padding-top: 0px
}

#dialog-form div {
	text-align: left;
}

#gallery {
	text-align: left;
}

.pic-item {
	display: inline-block;
	border: gray solid 1px;
	padding: 3px;
}

.pic-img {
	overflow: hidden;
	margin-left: auto;
	margin-right: auto
}

.pic-info {
	text-align: center;
	font-size: 8pt;
	overflow: hidden;
	margin-left: auto;
}

.test-item {
	padding: 4px;
}

.test-info {
	width: 350px;
	display: inline-block;
}

.test-item div {
	display: inline-block;
}

.menu-button {
	-moz-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
	box-shadow: inset 0px 1px 0px 0px #bbdaf7;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff
		), color-stop(1, #378de5));
	background: -moz-linear-gradient(center top, #79bbff 5%, #378de5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff',
		endColorstr='#378de5');
	background-color: #79bbff;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #84bbf3;
	display: inline-block;
	color: #ffffff;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #528ecc;
	width: 200px;
}

.menu-button:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5
		), color-stop(1, #79bbff));
	background: -moz-linear-gradient(center top, #378de5 5%, #79bbff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5',
		endColorstr='#79bbff');
	background-color: #378de5;
}

.menu-button:active {
	position: relative;
	top: 1px;
}

.menu-button-aux {
	-moz-box-shadow: inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow: inset 0px 1px 0px 0px #caefab;
	box-shadow: inset 0px 1px 0px 0px #caefab;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77d42a
		), color-stop(1, #5cb811));
	background: -moz-linear-gradient(center top, #77d42a 5%, #5cb811 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a',
		endColorstr='#5cb811');
	background-color: #77d42a;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #268a16;
	display: inline-block;
	color: #306108;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #aade7c;
	width: 200px;
}

.menu-button-aux:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cb811
		), color-stop(1, #77d42a));
	background: -moz-linear-gradient(center top, #5cb811 5%, #77d42a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811',
		endColorstr='#77d42a');
	background-color: #5cb811;
}

.menu-button-aux:active {
	position: relative;
	top: 1px;
}

/******************
TABLES
*******************/
.CSS_Table_Example {
	margin: 0px;
	padding: 0px;
	width: 100%;
	box-shadow: 10px 10px 5px #888888;
	border: 1px solid #000000;
	-moz-border-radius-bottomleft: 9px;
	-webkit-border-bottom-left-radius: 9px;
	border-bottom-left-radius: 9px;
	-moz-border-radius-bottomright: 9px;
	-webkit-border-bottom-right-radius: 9px;
	border-bottom-right-radius: 9px;
	-moz-border-radius-topright: 9px;
	-webkit-border-top-right-radius: 9px;
	border-top-right-radius: 9px;
	-moz-border-radius-topleft: 9px;
	-webkit-border-top-left-radius: 9px;
	border-top-left-radius: 9px;
}

.CSS_Table_Example table {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.CSS_Table_Example tr:last-child td:last-child {
	-moz-border-radius-bottomright: 9px;
	-webkit-border-bottom-right-radius: 9px;
	border-bottom-right-radius: 9px;
}

.CSS_Table_Example table tr:first-child td:first-child {
	-moz-border-radius-topleft: 9px;
	-webkit-border-top-left-radius: 9px;
	border-top-left-radius: 9px;
}

.CSS_Table_Example table tr:first-child td:last-child {
	-moz-border-radius-topright: 9px;
	-webkit-border-top-right-radius: 9px;
	border-top-right-radius: 9px;
}

.CSS_Table_Example tr:last-child td:first-child {
	-moz-border-radius-bottomleft: 9px;
	-webkit-border-bottom-left-radius: 9px;
	border-bottom-left-radius: 9px;
}

.CSS_Table_Example tr:first-child td:first-child {
	border-width: 0px 0px 1px 0px;
}

.CSS_Table_Example tr:first-child td:last-child {
	border-width: 0px 0px 1px 1px;
}

.CSS_Table_Example tr:hover td {
	background-color: #82c0ff;
}

.CSS_Table_Example tr:first-child td {
	border: 0px solid #000000;
	text-align: center;
	border-width: 0px 0px 1px 1px;
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	background-color: #56aaff;
}

.CSSTableGenerator tr:first-child:hover td {
	background-color: #0069d3;
}

.CSS_Table_Example td {
	background-color: #ffffff;
	border: 1px solid #000000;
	border-width: 0px 1px 1px 0px;
	text-align: left;
	padding: 7px;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-align: center;
}

.CSS_Table_Example tr:last-child td {
	border-width: 0px 1px 0px 0px;
}

.CSS_Table_Example tr td:last-child {
	border-width: 0px 0px 1px 0px;
}

.CSS_Table_Example tr:last-child td:last-child {
	border-width: 0px 0px 0px 0px;
}

.cref_image {
	position: relative;
	height: 6cm;
}

.login {
	text-align: right; 
	font-size: 12pt;
}

.languages {
	font-size: 12pt;
}

.number_of_results {
	font-size: 80%;
	padding:3px;
}

.tabla_reporte {
	border:#000 1px solid; 
	border-spacing:0px;
	width:100%
}

.tabla_reporte tr td {
	border:#000 1px solid; 
	padding:5px;
}

.footer {
	font-size:10pt;
	text-align:center;
	width:100%
}