::selection {
	background-color: #E13300;
	color: white;
}

::moz-selection {
	background-color: #E13300;
	color: white;
}

::webkit-selection {
	background-color: #E13300;
	color: white;
}

body {
	background-color: #fff;
	/*margin: 40px;*/
	font: 13px/20px normal Helvetica, Arial, sans-serif;
	color: #4F5155;
}

a {
	color: #003399;
	background-color: transparent;
	font-weight: normal;
}

h1 {
	color: #444;
	background-color: transparent;
	border-bottom: 1px solid #D0D0D0;
	font-size: 19px;
	font-weight: normal;
	margin: 0 0 14px 0;
	padding: 14px 15px 10px 15px;
}

code {
	font-family: Consolas, Monaco, Courier New, Courier, monospace;
	font-size: 12px;
	background-color: #f9f9f9;
	border: 1px solid #D0D0D0;
	color: #002166;
	display: block;
	margin: 14px 0 14px 0;
	padding: 12px 10px 12px 10px;
}

#body {
	margin: 0 15px 0 15px;
}

p.footer {
	text-align: right;
	font-size: 11px;
	border-top: 1px solid #D0D0D0;
	line-height: 32px;
	padding: 0 10px 0 10px;
	margin: 20px 0 0 0;
}

#container {
	margin: 10px;
	border: 1px solid #D0D0D0;
	-webkit-box-shadow: 0 0 8px #D0D0D0;
}

#dialog-form,#dialog-modal {
	font-size: 62.5%;
}

label,input {
	display: block;
}

input.text {
	margin-bottom: 12px;
	/*width: 70%;*/
	padding: .4em;
}

fieldset {
	padding: 0;
	border: 0;
	margin-top: 25px;
}

.ui-dialog .ui-state-error {
	padding: .3em;
}

.validateTips {
	border: 1px solid transparent;
	padding: 0.3em;
}

.emotion-button, .continue-button {
	padding: 15px;
	line-height: 25pt;
	font-size: 16pt;
	text-decoration: none;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.slide {
	border: gray solid 1px;
	padding: 10px;
	width: 300px;
	margin-bottom: 10px;
}

.slide-pic {
	display: inline-block;
	width: 97px;
	height: 124px;
	overflow: hidden;
	text-align: center
}

.slide-info {
	display: inline-block;
	vertical-align: top;
}

.slide-label {
	display: inline-block;
	width: 70px;
	padding-bottom: 10px;
}

.slide-input {
	display: inline-block;
	margin-bottom: 10px;
	width:100px;
	height:22px;
}

#main {
	text-align: center;
	height: 100%;
	text-align: left;
	padding: 15px;
	padding-top: 0px
}

#dialog-form div {
	text-align: left;
}

#gallery {
	text-align: left;
}

.pic-item {
	display: inline-block;
	border: gray solid 1px;
	padding: 3px;
}

.pic-img {
	overflow: hidden;
	margin-left: auto;
	margin-right: auto
}

.pic-info {
	text-align: center;
	font-size: 8pt;
	overflow: hidden;
	margin-left: auto;
}

.test-item {
	padding: 4px;
}

.test-info {
	width: 250px;
	display: inline-block;
}

.test-item div {
	display: inline-block;
}